{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href=" {% static "app.css" %}">
    {% block css_files %}
    {% comment %} link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    {% endblock %}
</head>
<body>
    {% block content %}
        <header id="main-navigation">
            <h1> <a href="{% url "starting-page" %}">Taheem's Blog</a></h1>
            <nav>
                <a href="{% url "all-posts" %}">All Posts</a>
            </nav>
        </header>
    {% endblock %}
</body>
</html>